body {
  background-color: #f7f0ff;
  background-image:  linear-gradient(#ffffff 1.7000000000000002px, transparent 1.7000000000000002px), linear-gradient(to right, #ffffff 1.7000000000000002px, #f7f0ff 1.7000000000000002px);
  background-size: 34px 34px;  line-height: 1.618;
  margin: 0;
  font-family: sans-serif;
  font-size: 1.125em;
}

main {
  background-color: #fefefe;
  padding: 0 20px;
  border: 1px solid #44118d;
  filter: drop-shadow(6px 6px 0 #c5aaeb);
}

blockquote {
  color: #65606b;
  font-style: italic;
}

pre {
  padding: 0.2em 1em;
  background-color: #fbf8ff;
  overflow-x: auto;
}

code {
  background-color: #fbf8ff;
  padding: 2px 4px;
}

pre code {
  background-color: transparent;
  padding: 0;
}

a {
  color: #44118d;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid #f1e8fc;
}

p {
  margin: 0.2em 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.8em 0 0.2em 0;
}

ul {
  list-style: square outside none;
}

footer {
  text-align: center;
  padding: 10px;
}

.content {
  max-width: 800px;
  margin: 0 auto 20px auto;
  padding: 10px;
}

/* Mobile view */

@media screen and (max-width: 700px) {
  body {
    font-size: 1em;
  }
  .content {
    padding: 10px 0;
  }
}
